<% title "Classes" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for classe in @classes %>
    <tr>
      <td><%=h classe.name %></td>
      <td><%= link_to "Edit", edit_classe_path(classe) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Classe", new_classe_path %></p>
