<% title "Classes d'interaction" %>

<table>
  <tr>
    <th>Nom</th>
  </tr>
  <% @classes.each do |classe| %>
    <tr>
      <td><%=h classe.name %></td>
      <td><%= link_to "Modifier", edit_classe_path(classe) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Rajouter une classe d'interaction", new_classe_path %></p>
